.cardContainer{ 
  position: fixed;
}

.card-header {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  background-color: #f9e4cb !important;
  height: 60px;
  border-bottom: 2px solid #5f5f5f !important;
}

.card { 
  max-height: 20rem;
}